<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/login.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="login">
			<div class="logo">
				<img src="../../img/logo.svg" />
			</div>
			<form>
				<h1>Login</h1>
				<div>
					<input class="email" placeholder="Enter your email" />
					<input
						class="password"
						type="password"
						placeholder="Enter your password"
					/>
					<a href="#">Forgot password?</a>
				</div>
				<button>Login</button>
				<p>Don't have account? <a href="#">Sign up</a></p>
			</form>
		</div>
	</body>
</html>
